.App {
  width: 100%;
  text-align: center;
  display: flex;
}

@media screen
  and (max-width: 1160px)
  and (orientation: portrait) {
    .App {
      flex-direction: column;
    }
  }

  @media screen
  and (orientation: landscape) {
    .App {
      margin: 0 2em;
      max-width: 1400px;
      text-align: center;
    }
  }
