.Board {
  display: flex;
  justify-content: center;
  align-self: center;
  filter: blur(20px) grayscale(30%);
  transition: filter 0.5s ease-in-out;
  width: 22em;
}

.Board-Grid {
  display: grid;
  width: 18em;
  height: 18em;
}

.Row {
  display: flex;
  justify-content: center;
}

/* iPad/tablet */
@media screen
  and (min-width: 768px)
  and (orientation: portrait) {
    .Board {
      height: 30em;
    }

    .Board-Grid {
      height: 100%;
      width: 100%;
    }
  }

/* Desktop */
@media screen
  and (orientation: landscape) {
    .Board {
      flex-direction: column;
      flex-basis: 50%;
      align-self: flex-start;
      flex-shrink: 1;
    }

    .Board-Header {
      height: 6em;
    }

    .Board-Grid {
      align-self: center;
      width: 35em;
      height: 35em;
    }
  }

@media screen
  and (max-width: 1200px)
  and (orientation: landscape) {
    .Board-Grid {
      width: 25em;
      height: 25em;
    }
  }
