.CluesPanel {
  flex-basis: 40em;
  display: flex;
  justify-content: center;
  filter: blur(20px) grayscale(30%);
  transition: filter 0.5s ease-in-out;
}

.CluesPanel-Column-Container {
  flex-basis: 15em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
}

.CluesPanel-Column-Container:nth-child(2) {
  padding-right: 0em;
}

.CluesPanel-Header {
  height: 6em;
  display: flex;
  border-bottom: 1px solid black;
  background-color: white;
}

.CluesPanel-Header-Text {
  text-align: left;
  align-self: flex-end;
  padding-bottom: 0.25em;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.CluesPanel-Clues-Body {
  text-align: left;
  overflow: scroll;
  color: #7b7b7b;
  cursor: default;
  transition: all 0.25s;
  height: 45em;
}

.CluesPanel-Clue {
  display: flex;
  padding: 0.5em 0;
}

.CluesPanel-Deselected-Clue-Alt {
  flex-basis: 0.5em;
  flex-grow: 0;
}

.CluesPanel-Selected-Clue {
  background-color: rgb(255, 231, 97);;
}

.CluesPanel-Selected-Clue-Alt {
  flex-basis: 1em;
  margin-left: -0.5em;
  flex-grow: 0;
  background-color: rgba(110, 230, 250, 0.6);
}

@media screen
  and (max-width: 768px) {
    .CluesPanel {
      display: none;
    }
  }

@media screen
  and (max-width: 812px)
  and (orientation: portrait) {
    .CluesPanel {
      margin-left: 1em;
      flex-grow: 1;
    }

    .Clues-Panel-Header {
      background-color: transparent;
    }
  }

@media screen
  and (max-height: 580px)
  and (orientation: portrait) {
    .CluesPanel {
      padding-top: 3em;
    }
  }

/* Desktop */
@media screen
and (orientation: landscape) {
  .CluesPanel {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .CluesPanel-Column-Container:nth-child(2) {
    padding-right: 0em;
  }
}
