/* navbar styles */
header {
  display: flex;
  margin: 0 3em;
  height: 4.5em;
  color: rgba(0, 0, 0, 0.9);
  border-bottom: 1px solid rgba(0, 0, 0, 0.9);
}

#title {
  flex-grow: 1;
  padding: 0.5em 0;
  font-size: 2em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.9);
  align-self: center;
  letter-spacing: -0.05em;
}

header nav {
  display: flex;
  align-self: center;
}

.nav-item {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: bold;
  letter-spacing: -0.05em;
  padding: 2.4em 0;
  align-self: center;
}

.nav-item a {
  padding: 1.25em;
  color: rgba(0, 0, 0, 0.9);
  transition: color 0.25s ease;
}

.nav-item #img-link {
  padding: 0 0 0 1.25em;
}

.nav-item img {
  height: 40px;
  border-radius: 100%;
  transition: opacity 0.25s ease;
}

.nav-item:hover {
  padding-bottom: calc(2.4em - 2px);
  border-bottom: 2px solid rgba(0,0,0,0.9);
}


#img-item:hover {
  padding-bottom: 2.4em;
  border-bottom: none;
}

.nav-item a:hover {
  color: rgba(0, 0, 0, 0.5);
}

.nav-item img:hover {
  opacity: 0.75;
}

a {
  text-decoration: none;
}

a:visited{
  color: rgba(0, 0, 0, 0.9);
}

@media screen
  and (max-width: 812px)
  and (orientation: portrait) {
    header {
      margin: 0;
      width: 50em;
      border: 0px;
    }

    #title {
      text-align: center;
      font-size: 3em;
    }

    .nav-item {
      display: none;
    }

  }
