.Square {
  height: 2.25em;
  width: 2.25em;
  background-color: white;
  border-top: 1px solid #7b7b7b;
  border-left: 1px solid #7b7b7b;
}

.Square-Left {
  border-left: 3px solid black;
}

.Square-Right {
  border-right: 3px solid black;
}

.Square-Top {
  border-top: 3px solid black;
}

.Square-Bottom {
  border-bottom: 3px solid black;
}

.Square-Number {
  margin-bottom: -0.5em;
  padding-left: 0.25em;
  font-size: 0.5em;
  text-align: left;
  height: 1em;
}

.Square-Entry {
  padding: 0;
  height: 1.2em;
  width: 100%;
  border: 0px solid;
  font-size: 1.75em;
  font-weight: 600;
  text-transform: uppercase;
  color: transparent;
  text-shadow: 0 0 0 black;
  background-color: transparent;
  text-align: center;
  outline: none;
  cursor: default;
}

.Square-Selected {
  background-color: powderblue;
}

.Square-Revealed {
  background-color: salmon;
}

.Square-Revealed-Text {
  height: 1.2em;
  width: 100%;
  border: 0px solid;
  font-size: 1.75em;
  font-weight: 600;
  color: mediumblue;
  text-align: center;
}

.Square-No-Select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.Square-Black {
  background-color: black;
}

.Square-Correct {
  color: green
/* bold, green, something like that */
}

.Square-Checked {
  background-color: yellow
/* flag */
}

.Square-Checked-Incorrect {
  text-shadow: 0 0 red
/* red mark */
}