/* Square Template Style */
.Square {
  position: relative;
  background-color: white;
  border-top: 1px solid #7b7b7b;
  border-left: 1px solid #7b7b7b;
}

.Square-Entry {
  position: absolute;
  left: 0;
  padding: 0;
  margin-top: 0.15em;
  width: 100%;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: transparent;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.9);
  background-color: transparent;
  text-align: center;
  border: 0px solid;
  outline: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
::-moz-selection {
  background: transparent;
}
::selection {
  background: transparent;
}

.Square-Number {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0.25em;
  font-size: 5px;
  text-align: left;
}

.Square-No-Select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.Square-Revealed-Text {
  position: absolute;
  left: 0;
  margin-top: 0.2em;
  padding: 0;
  width: 100%;
  border: 0px solid;
  font-size: 15px;
  font-weight: 700;
  color: rgb(66, 66, 192);
  text-align: center;
}

.Square-SemiSelected {
  background-color: rgba(110, 230, 250, 0.6);
}

.Square-Selected {
  background-color: rgb(255, 231, 97);
}

.Square-Black {
  background-color: rgba(0, 0, 0, 0.9);
}

/* Borders */
.Square-Left {
  border-left: 3px solid rgba(0, 0, 0, 0.9);
}

.Square-Right {
  border-right: 3px solid rgba(0, 0, 0, 0.9);
}

.Square-Top {
  border-top: 3px solid rgba(0, 0, 0, 0.9);
}

.Square-Bottom {
  border-bottom: 3px solid rgba(0, 0, 0, 0.9);
}

.Square-Top-Left {
  border-top-left-radius: 5px;
}

.Square-Top-Right {
  border-top-right-radius: 5px;
}

.Square-Bottom-Left {
  border-bottom-left-radius: 5px;
}

.Square-Bottom-Right {
  border-bottom-right-radius: 5px;
}

/* Check Styles */
.Square-Correct {
  color: rgb(83, 182, 116);
}

.Square-CheckedDot {
  width: 3px;
  height: 3px;
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: salmon;
  border-radius: 100%;
}

.Square-Revealed {
  background-color: salmon;
}

.Square-Checked-Incorrect {
  text-shadow: 0 0 salmon;
}

/* iPad/table */
@media screen
  and (min-width: 768px){
    .Square-Entry {
      bottom: 2px;
    }

    .Square-Revealed-Text {
      bottom: 1px;
    }

    .Square-CheckedDot {
      width: 5px;
      height: 5px;
    }
}

/* Desktop */

@media screen
  and (min-width: 1200px)
  and (orientation: landscape) {
    .Square-Number {
      font-size: 0.5em;
    }

    .Square-Entry {
      bottom: 1px;
      font-size: 1.5em;
    }

    .Square-Revealed-Text {
      bottom: 0px;
      font-size: 1.5em;
    }

    .Square-CheckedDot {
      width: 6px;
      height: 6px;
    }

    .Square-Entry-Small {
      font-size: 15px;
    }

    .Square-Revealed-Text-Small {
      font-size: 15px;
    }

    .Square-Number-Small {
      font-size: 0.25em
    }
  }
