.Square {
  max-height: 2.25em;
  flex-basis: 2.25em;
  background-color: white;
  border-top: 1px solid #7b7b7b;
  border-left: 1px solid #7b7b7b;
}

.Square-Left {
  border-left: 3px solid rgba(0, 0, 0, 0.9);
}

.Square-Right {
  border-right: 3px solid rgba(0, 0, 0, 0.9);
}

.Square-Top {
  border-top: 3px solid rgba(0, 0, 0, 0.9);
}

.Square-Bottom {
  border-bottom: 3px solid rgba(0, 0, 0, 0.9);
}

.Square-Number {
  margin-bottom: -0.5em;
  padding-left: 0.25em;
  font-size: 0.5em;
  text-align: left;
  height: 1em;
}

.Square-Entry {
  padding: 0;
  height: 1.2em;
  width: 100%;
  border: 0px solid;
  font-size: 1.75em;
  font-weight: 600;
  text-transform: uppercase;
  color: transparent;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.9);
  background-color: transparent;
  text-align: center;
  outline: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
::-moz-selection {
  background: transparent;
}
::selection {
  background: transparent;
}


.Square-SemiSelected {
  background-color: rgba(110, 230, 250, 0.6);
}

.Square-Selected {
  background-color:rgb(255, 231, 97);
}

.Square-Revealed {
  background-color: salmon;
}

.Square-Revealed-Text {
  height: 1.2em;
  width: 100%;
  border: 0px solid;
  font-size: 1.75em;
  font-weight: 600;
  color: mediumblue;
  text-align: center;
}

.Square-No-Select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.Square-Black {
  background-color: rgba(0, 0, 0, 0.9);
}

.Square-Correct {
  color: green
/* bold, green, something like that */
}

.Square-Checked {
  background-color: yellow
/* flag */
}

.Square-Checked-Incorrect {
  text-shadow: 0 0 red
/* red mark */
}

@media screen and (max-width: 1160px) {
  .Square {
    flex-basis: 1.75em;
    height: 1.75em;
  }

  .Square-Number {
    margin-bottom: -0.4em;
  }

  .Square-Entry {
    font-size: 1.25em;
  }
}
